<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="title">liad tzvaot CV</title>

    <link rel="stylesheet" href = "CV.css">
    <script src="CV.js"></script>
</head>

<body onload="myFunction()">

<h1 id="h1"> Liad Tzvaot CV </h1>

<div class="grid-container">

<a href=""> <div class="Personal Information">Personal-Information</div> </a>
<a href=""> <div class="Summary">Summary</div> </a>
<a href=""> <div class="Experience">Experience</div>  </a>
<a href=""> <div class="education">education</div>  </a>
<a href=""> <div class="Volunteering">Volunteering</div>  </a>
<a href=""> <div class="Languages">Languages</div>   </a>
</div>
 
    <img src="liad trip.jpg" alt="liad image could not be displayed" width="30%"> 
    
    <h2>make contact</h2>
    
<form>
<label for="fname">First name:</label><br>
<input type="text" id="fname" name="fname"><br>

<label for="lname">Last name:</label><br>
<input type="text" id="lname" name="lname"><br>

<label for="email">Your email:</label><br>
<input type="email"id="email" name="email"><br><br>


<input type="submit" value="Submit">
</form> 

</body>
</html>